body {
    color: #222222;
    background: #00b6a1;
    height: 100%;
    font-family: 'Ubuntu';
}
.custom{
    margin-left: auto;
    border: 0px solid #cfd1d8;
    border-radius: 5px;
    font-size: .825rem;
    background: #ffffff;
    color: #2e323c;
}
.donation{
    background: #ffffff;
    text-align: center;
    /* background-color: beige; */
    padding-top: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
    height: 500px;
    border-radius: 5px;
    border: 0;
}
.donation-content{
    text-align: center;
    font-size: 15px;
}
.donation-heading{
    font-weight: bold;
    color: #f85a40;
}
.donation-heading-2{
    font-weight: bold;
    text-shadow: 1px 1px 2px #f85a40;
}
.donation-btn{
    background-color: #f85a40;
    color: #fff;
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    width: 200px;
    height: 50px;

}
.donation-element{
    margin-top: 20px;
}
.heading-color{
    color: #f85a40;
}
.form-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.form-control{
    margin-top: 0.5rem;
}
.footer{
    margin-top: 2rem;
    font-size: 14px;
    background-color:  rgba(0, 131, 116, 0.8);
    padding: 50px 0;
    color: white;
}
  .footer .footer-info .logo {
    line-height: 0;
    margin-bottom: 25px;
  }
  
  .footer .footer-info .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-info .logo span {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--font-primary);
  }
  
  .footer .footer-info p {
    font-size: 14px;
    font-family: var(--font-primary);
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
    text-align: left;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    color: rgba(0, 131, 116, 0.8);
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .footer-contact p {
    line-height: 26px;
    text-align: left;
  }
  
  .footer .copyright {
    text-align: center;
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #cfd1d8;
  }
 header{
    background-color: rgba(0, 131, 116, 0.8);
    font-family: 'Ubuntu';
 }
 .heading-navi{
    margin-left: 0.5rem;
 }
.navbar{
    padding-bottom: 0 0 2.5rem;
  }
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 0;
    margin-left: 0;
}
  .nav-item{
    padding-top: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
  }
  .donate{
    margin-left: 10px;
  }
  .nav-link{
    justify-content: flex-end;
    padding-bottom: 1rem;
    font-size: 1rem;
    /* font-family: "Montserrat-light"; */
    color: #cfd1d8;
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }
  .title-heading{
    /* font-family: "Montserrat-black"; */
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  .signupcol{
    margin-bottom: 2px;
  }
  h1{
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
  }
  @media (max-width: 768px){
    .custom, .donation{
        max-width: 100%;
        float: none;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column; /* Stack nav item s vertically */
        align-items: center; /* Center items horizontally */
    }
    .nav-item {
        margin: 5px 0; 
    }
    .navbar-brand {
        margin-bottom: 15px; 
    }
  }